<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NCC.PRZTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NCC.PRZTools.Properties.Settings>
            <setting name="WORKSPACE_PATH" serializeAs="String">
                <value>c:\temp\jcfolder</value>
            </setting>
            <setting name="WORKSPACE_DISPLAY_MODE" serializeAs="String">
                <value>DIR</value>
            </setting>
            <setting name="DEFAULT_SELRULE_MIN_THRESHOLD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COST_CONSTANT_VALUE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DEFAULT_CF_MIN_THRESHOLD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_CF_GOAL" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DEFAULT_TILE_AREA" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DEFAULT_TILE_AREA_UNITS" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="DEFAULT_PU_GEOMETRY_SOURCE" serializeAs="String">
                <value>NATGRID</value>
            </setting>
            <setting name="DEFAULT_SA_GEOMETRY_SOURCE" serializeAs="String">
                <value>GRAPHIC</value>
            </setting>
            <setting name="DEFAULT_SA_BUFFER_DISTANCE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_SA_BUFFER_DISTANCE_UNITS" serializeAs="String">
                <value>KM</value>
            </setting>
            <setting name="DEFAULT_OUTPUTSR_SOURCE" serializeAs="String">
                <value>MAP</value>
            </setting>
            <setting name="DEFAULT_NATGRID_DIMENSION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_PU_NATGRID_USE_RASTER_FORMAT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFAULT_PU_CUSTOMGRID_USE_RASTER_FORMAT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFAULT_OUTPUT_FORMAT" serializeAs="String">
                <value>RASTER</value>
            </setting>
        </NCC.PRZTools.Properties.Settings>
    </userSettings>
</configuration>